files:
  # runs right after npm has been installed
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/51install_forever_serve.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      app="$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)";
      cd "${app}";
      npm install -g forever serve;
